@page "/"

<PageTitle>Politibilens Status</PageTitle>

<h1>
    Oversikt over Politibilens Status

</h1>

<h3>Velkommen til siden for Politibilens Status. Her kan du se omfattende detaljer om vår flåte av politibiler, fra grunnleggende identifikasjon til deres nåværende status og oppdrag.
</h3>
<SurveyPrompt Title="How is Blazor working for you?" />
